@page "/AddNationality"
@inject NavigationManager NavigationManager
@inject INationalityRepository Nationality
@inject IToastService toastService

<h3>Add Nationality</h3>

@if (nationality != null)
{
    <EditForm Model="nationality" OnValidSubmit="OnValidSumit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="nameen" @bind-Value="nationality.NameEn" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="description">Name Ar</label>
            <InputText id="namear" @bind-Value="nationality.NameAr" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="description">Note</label>
            <InputText id="namear" @bind-Value="nationality.Note" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="description">User Defiend One</label>
            <InputText id="namear" @bind-Value="nationality.UserDefined1" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="description">User Defiend 2</label>
            <InputText id="namear" @bind-Value="nationality.UserDefined2" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="description">User Defiend 3</label>
            <InputText id="namear" @bind-Value="nationality.UserDefined3" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="description">User Defiend 4</label>
            <InputText id="namear" @bind-Value="nationality.UserDefined4" class="form-control"></InputText>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCancel">Cancel</button>
        <button class="btn btn-info" @onclick="@(() => toastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
    </EditForm>

}


@code {
    private SysNationality nationality;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        nationality = new SysNationality();
    }

    private void OnValidSumit()
    {
        var v = Nationality.Create(nationality);

        if (v.IsSuccess)
        {
            toastService.ShowSuccess(v.Message);
        }
        else
        {
            toastService.ShowError(v.Message);
        }

        NavigationManager.NavigateTo("/nationality");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/nationality");
    }
}
