@page "/AddOns"
@attribute [Authorize(Policy = "AdminOnly")]
@inject NavigationManager NavigationManager
@inject IToastService toastService

@inject IAddOnRepository repository

<h3>Manage AddOns</h3>

@if (models != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>Name En</th>
                <th>Name Ar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in models)
            {
                <tr>
                    <td>@item.NameEn</td>
                    <td>@item.NameAr</td>
                    <td>
                        <button type="button" @onclick="@(() => Edit(item))" class="btn btn-link">Edit</button>
                        <button type="button" @onclick="@(() => Delete(item.Id))" class="btn btn-link">Delete</button>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button type="button" @onclick="OnClickAddCountry" class="btn btn-primary">Add Country</button>



@code {
    private IEnumerable<SrvAddOn> models;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadList();
    }

    private void OnClickAddCountry()
    {
        NavigationManager.NavigateTo("/AddAddOn");
    }

    private void Edit(SrvAddOn model)
    {
        NavigationManager.NavigateTo($"/editAddOn/{model.Id}");
    }

    private void Delete(int Id)
    {
        var v = repository.Delete(Id);
        if (v.IsSuccess)
        {
            toastService.ShowSuccess(v.Message);
        }
        else
        {
            toastService.ShowError(v.Message);

        }

        LoadList();
    }

    private void LoadList()
    {
        models = repository.GetAll()?.ToList();
    }
}
