<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""> Rent a classic cars</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubMenus =!expandSubMenus">
                <span class="oi oi-plus" aria-hidden="true"></span> Masters
            </NavLink>

            @if (expandSubMenus)
            {
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Nationality" Match="NavLinkMatch.All">
                            <span class="oi oi-link-intact" aria-hidden="true"></span> Nationality
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Religion" Match="NavLinkMatch.All">
                            <span class="oi oi-link-intact" aria-hidden="true"></span> Religion
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Gender" Match="NavLinkMatch.All">
                            <span class="oi oi-link-intact" aria-hidden="true"></span> Gender
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Language" Match="NavLinkMatch.All">
                            <span class="oi oi-link-intact" aria-hidden="true"></span> Language
                        </NavLink>
                    </li>


                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Country" Match="NavLinkMatch.All">
                            <span class="oi oi-link-intact" aria-hidden="true"></span> Country
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/City" Match="NavLinkMatch.All">
                            <span class="oi oi-link-intact" aria-hidden="true"></span> City
                        </NavLink>
                    </li>

                </ul>


            }
        </li>

         <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubMenusSuplier =!expandSubMenusSuplier">
                <span class="oi oi-plus" aria-hidden="true"></span> Suplier
            </NavLink>

            @if (expandSubMenusSuplier)
            {
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/class" Match="NavLinkMatch.All">
                            <span class="oi oi-link-intact" aria-hidden="true"></span> Class 
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/category" Match="NavLinkMatch.All">
                            <span class="oi oi-link-intact" aria-hidden="true"></span> Category 
                        </NavLink>
                    </li>


                </ul>


            }
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool expandSubMenus;
    private bool expandSubMenusSuplier;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
